src/main/mule/cicd-jenkins-4am.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a75462f9-f54e-4b68-81b5-763c0ff50b84" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-4amFlow" doc:id="7b8f3131-5927-40d7-8b58-ecb2616ba749" >
		<http:listener doc:name="Listener" doc:id="8894135a-a820-4716-8d6c-ad2534a59543" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="f36515cd-a947-48dc-a401-3cb0630d988e" message="Request received"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="fe6dbe0c-fabe-483f-a36f-718c11597816" />
	</flow>
</mule>
